name: Go package

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    paths:
      - ".github/workflows/go.yaml"
      - "*.go"
      - "upstream/*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
