name: Test Python

on:
  pull_request:
    paths:
      - "citiespy/**"
      - "src/**"
      - ".github/workflows/test-python.yml"
      - "data/*"
      - "rust-toolchain.toml"
  push:
    paths:
      - "citiespy/**"
      - "src/**"
      - ".github/workflows/test-python.yml"
      - "data/*"
      - "rust-toolchain.toml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: citiespy

env:
  PYO3_USE_ABI3_FORWARD_COMPATIBILITY: 1

jobs:
  Testing:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install and test
        shell: bash
        run: |
          make lint
          make test

      - name: Minimize uv cache
        run: uv cache prune --ci
